    <div class="bodybackground">
      <div class="container">
    <div id="main-display"></div>
      <div class="intro">
       <h1 id="welcome">Welcome Surviors! To Survive Buy Supplies!</h1>
        <p>Here we provide essentials</p>
      </div><!--intro-->
     <div class="second-nav">
      <ul class="midnav">
        <span class="glyphicon glyphicon-asterisk"><a href="#">Popular</a></span>
        <span class="glyphicon glyphicon-cog"><a href="#">Gear</a></span>
        <span class="glyphicon glyphicon-plus"><a href="#">Food&Water</a></span>
        <a href="#">Weaponry&Tools</a>
        <span class="glyphicon glyphicon-fire"><a href="#">SurvivalKits</a></span>
      </ul>
    </div><!--End of second-nav-->
       <!--main advertising section-->
         <div class="main-adv">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-6">
            <button type="btn" class="left-image"><h2>Ask Yourself. Are You Prepared?</h2></button>
          </div><!--col-xs-12 col-md-4 col-lg-6-->
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <h1 class="mid-image1">TEST</h1>
           <h1 class="mid-image2">Test Test test test</H1>
          </div><!--col-xs-12 col-md-2 col-lg-3-->
           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <button class="right-image1">Submit</button>
            </div><!--col-xs-12 col-md-2 col-lg-6-->
          <div class="col-xs-12 col-sm-12 col-md-6">
            <p id="vid"></p>
          </div><!--col-xs-12 col-md-2 col-lg-6-->
          </div><!--row-->
         </div><!--main-adv-->
     </div><!--container-->
   </div><!--bodybackground-->
